name: Build and Publish Docker Image
on: 
  push:
    branches:
      - main
      - dev
    paths-ignore:
      - 'README.md'
  workflow_dispatch:
  pull_request:
    
jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v6
            - name: install dependencies
              run: pip install -r requirements.txt
    
    docker-build:
        needs: test
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v6
            - name: build image
              run: docker build . --file Dockerfile --tag rooskie94/docker-qrcode-generator:latest
            - name: Run container
              run: |
                docker run -d -p 8080:8080 --name qrcode-generator rooskie94/docker-qrcode-generator:latest
                sleep 5
                echo "sleep for 5 seconds"
            - name: run tests
              run: curl localhost:8080
  
    publish:
        needs: docker-build
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        steps:
            - name: checkout
              uses: actions/checkout@v6
            - name: Log into Docker Hub
              uses: docker/login-action@v3
              with: 
                username: ${{ secrets.DOCKER_USER_NAME }}
                password: ${{ secrets.DOCKER_HUB_TOKEN }}
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3
            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: rooskie94/docker-qrcode-generator:latest